/*
 * Lay this page out - make it responsive, use grid, flex, position and media queries where needed.
 *
 * Colors-
 * Green: #14a96d
 * White: #fff
 * Light gray: #f4f5f6
 * Border gray: #cfd7de
 * Dark text: #1b1f23
 * Lighter text: #66727c
 * Blue for links: #06748a
 * Blue for hovered links: #033641
 */

/* Globals */
body {
  font-family: 'Cabin', sans-serif;
  margin: 0;
}

.flex{
  display: flex;
}
header{
  justify-content: space-between;
  border: 2px solid rgb(255, 255, 255);
  align-items: center;
  padding: 3px 0;
}
header .flex{
  align-items: center;
  padding: 3px 0;
}
.flex nav a{
  color: grey;
  text-decoration: none;
  margin-right: 10px;
}
.flex > div img{
  margin-right: 40px;
  margin-left: 20px;
}
.mobile_menu{
  display: none;
  border: 2px solid rgba(180, 164, 164, 0.5);
  margin-right: 20px;
  border-radius: 7px;
  padding: 7px;
}
.mobile_menu div{
  height: 4px;
  width: 25px;
  background-color: black;
  margin: 4px
}
.container_hero{
  position: relative;
  background-image: url('../img/hero.jpg');
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.container_hero .info{
  width: 30%;
  flex-direction: column;
  justify-content: center;
  color: rgb(92, 88, 88);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  padding-left: 80px;
}
.container_hero .info a{
  text-decoration: none;
  color: white;
  background-color: rgb(78, 172, 41);
  border: 3px solid rgb(24, 139, 24);
  border-radius: 4px;
  align-self: flex-start;
  padding: 4% 25%;
}
.grid{
  display: grid;
}
.icon-1{
  width: 80px;
}
.icon-2{
  width: 50px;
  padding-left: 10px;
}
.center{
  align-items: center;
  justify-content: center;
}
.container_facts h3{
  font-weight: 800;
  font-size: 20px;
}
.container_facts .grid{
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
  margin-right: 30px;
}
.container_facts .grid .box .item-1{
  background-color: rgb(167, 167, 167);
  justify-content: center;
  border: 2px solid grey;
  padding: 15px 0;
}
.container_facts .grid .box .item-1{
  align-items: center;
}
.container_facts .grid .box .item-1 img{
  margin-right: 40px;
}
.container_facts .grid .box .item-1 p{
  font-weight: bold;
}
.container_facts .grid .box .item-2{
  border: 3px solid grey;
  border-top: none;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}
.container_facts .grid .box .item-2 ul li{
  font-weight: bold;
  margin-bottom: 10px;
}
.container_facts .grid .box .item-2 a{
  text-decoration: none;
  font-weight: 500;
  background-color: rgb(78, 172, 41);
  border: 3px solid rgb(24, 139, 24);
  border-radius: 4px;
  color: white;
  padding: 1.5% 25%;
}
.container_facts .grid .box .item-3{
  text-align: center;
}
.container_facts .grid .box .item-3 p{
  font-weight: bold;
}

/* //-------// */
.container_facts .grid .box .item-3 p:first-child{
  margin-top: 40px;
}
.container_facts .grid .box .item-3 p .anchor{
  text-decoration: underline;
  color: blue;
}
.container_facts .display__mobile .grid{
  display: none;
}
.action{
  margin-top: 50px;
  background-image: url('/img/lady-with-her-dogs.jpg');
  height: 500px;
  width: 100%;
  background-size: cover;
  position: relative;
}
.action .content{
  position: absolute;
  background-color: white;
  right: 0;
  left: 0;
  flex-direction: column;
  font-weight: bold;
  font-size: 20px;
  padding-left: 20px;
}
.action .content>p:first-child{
  background-color: green;
  padding: 2px 2px;
  margin-left: 1%;
  margin-right: 90%;
  border-radius: 5px;
}
.action .content .flex{
  align-items: center;
}
.action .content .flex>a{
  margin-left: 5px;
  text-decoration: none;
}
.steps .grid{
  grid-template-columns: repeat(3, 1fr);
  margin: 0 40px;
  gap: 50px;
}
.steps h3{
  margin-top: 50px;
  font-size: 30px;
}
.steps .grid img{
  height: 150px;
  margin-top: 70px;
}
.steps .grid [class^="item-"] .flex{
  flex-direction: column;
  justify-content: flex-start;
}
.steps .grid [class^="item-"] .flex h3{
  font-size: 25px;
  margin-bottom: 0;
}
.steps .grid [class^="item-"] .flex p{
  font-size: 20px;
}

@media screen and (max-width: 700px){
  .mobile_menu{
      display: block;
  }
  header nav{
      display: none;
  }
  .container_hero{
      background-image: none;
      height: 200px;
  }
  .container_hero .info{
      width: 100%;
      background-color: none;
      padding: 0;
  }
  .container_hero .info h3{
      margin-left: 5px;
      font-weight: 900;
  }
  .container_hero .info a{
      align-self: center;
      content: none;
      padding: 1% 10%;
  }
  .container_hero .info a::after{
      content: " Discover Local Sitters";
  }
  .container_hero .info h1{
      display: none;
  }
  .container_facts .grid{
      grid-template-columns: repeat(1, 1fr);
      gap: 10px;
      margin-right: 0;
  }
  .container_facts div h3{
      font-size: 18px;
      font-weight: bold;
  }
  .container_facts .grid .box{
      margin: 0 10px;
  }
  .container_facts .grid .box .item-1 img{
      margin: 0 12px;
  }
  .icon-2{
      width: 60px;
  }
  .container_facts .grid .box .item-2 a{
      display: none;
  }
  .container_facts .grid .box .item-3{
      display: none;
  }
  .container_facts .display__mobile{
      margin: 0 5px;
  }
  .container_facts .display__mobile .grid{
      grid-template-columns: repeat(2,1fr);
      display: block;
      text-align: center;
  }
  .icon-3{
      width: 200px;
  }
  .action{
      height: 200px;
      width: 95%;
      background-position: 20px -20px ;
      background-repeat: no-repeat;
  }
  .action .content{
      font-size: 8px;
      left: 10%;
      right: 35%;
      top: -20px;
      padding: 0 20px; 
  }
  .action .content #name{
      margin: 0;
      font-size: 15px;
      font-weight: lighter;
  }
  .action .content .flex{
      margin: 10px 0;
  }
  .action .content #name::before{
      content: "- ";
  }
  .steps .grid{
      grid-template-columns: repeat(1, 1fr);
      margin: 0 10px;
      gap: 0;
  }
  .steps .grid [class^="item-"]{
      display: flex;
      align-items: center;
  }
  .steps .grid [class^="item-"] img{
      height: 80px;
      margin-right: 10px;
  }
  .steps .grid .item-3{
      margin-left: 10px;
  }
  .steps .grid .item-3 div img{
      margin-right: 15px;
  }
}